@import "tailwindcss";

.bg-cube {
  background-image: url("/graphics/cube.svg");
}

.bg-sudoku {
  background-image: url("/graphics/sudoku.svg");
}

.bg-map {
  background-image: url("/graphics/map.svg");
}

.bg-intersect {
  background-image: url("/graphics/happy-intersection.svg");
}